body {
    font-family: 'Amiri', serif;
    background-color: #787878;
    padding-top: 80px;
}

.navbar{
    margin-bottom: 0px;
    padding-top: 15px;
}
.navbar-cutsom{
    background-color: #787878;
}

.navbar-custom .navbar-text{
    color:white;
}

.navbar-custom .navbar-nav .nav-link{
    color: white;
}

.navbar-toggler{
    background-color:#AABED7;
}

.navbar-custom .navbar.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #AABED7;
}

.navbar-collapse {
    background: #787878;
}

.bg-dark{
    background-color: #787878 !important;
}

.cbp-af-header-shrink{
    padding-top: 8px;
    padding-bottom 3px;
    height: 70px;
}

header {
    background-color: #787878;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

footer{
    background-color: #787878;
    color: white;
    padding: 10px;
    text-align: center;
    max-height:75;
}

aside {
    background-color: #787878;
    color: white;
    text-align: center;
}

section{
    background-color: #AABED7;
}

h3{
    text-align: center;
    border:3px solid #787878
}

#usersManualNav{
    max-width: 50%;
    border: 2px solid #787878;
    font-size: small;
    margin-bottom: 0px;
}

.usersManualHeading{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    padding-top: 20px;
}

.sParagraph{
    text-indent: 2.0em;
}

.usersManualHeading{
    padding-top: 70px !important;
    font-size: x-large;
}

.website-section{
    padding-right: 15px;
    padding-top: 75px;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

a{
    color: #0000FF;
}